@charset    "utf-8";
*{margin: 0;    padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
    color: inherit;
}
img{
    display: block;
    transition: .3s;
}
#wrap{
    width: 1200px;
    margin: 0   auto;
}
header{
    height: 100px;
}
#slide{
    height: 300px;
}
#contents{
    height: 200px;
}
footer{
    height: 100px;
    background: #bbb;
}
/* 2 */
header{
    display: flex;
}
.logo{
    width: 200px;
}
.logo img{
    width: 200px;
}
.logo{
    padding-top: 25px;
}
nav{
    width: 1000px;
}
.sub{
    display: none;
    background: #fff;
}
/* .gnb li:hover .sub{display: block;} */
.gnb a{
    width: 150px;
    text-align: center;
    line-height: 40px;
}
.gnb{
    display: flex;
    width: 600px;
    position: relative;
    z-index: 10;
    /* height: 40px; */
    align-items: flex-start;
    top: 30px;
    left: 380px;
}
.gnb>li{outline: 1px    #333    solid;}
/* .gnb>li:hover{height: 160px;} */
.gnb li:hover>a{
    background: #333;
    color: #fff;
}
/* 리스트 아웃라인 고민중 */

/* 슬라이드 */
#slide{
    overflow: hidden;
}
#slide ul{
    animation: slide    9s  infinite;
}

@keyframes  slide{
    0%{margin-top: 0; opacity: 0;}
    3%{margin-top: 0; opacity: 1;}
    30%{margin-top: 0; opacity: 1;}
    33%{margin-top: 0; opacity: 0;}

    33%{margin-top: -300px; opacity: 0;}
    36%{margin-top: -300px; opacity: 1;}
    63%{margin-top: -300px; opacity: 1;}
    66%{margin-top: -300px; opacity: 0;}

    66.1%{margin-top: -600px; opacity: 0;}
    69%{margin-top: -600px; opacity: 1;}
    97%{margin-top: -600px; opacity: 1;}
    100%{margin-top: -600px; opacity: 0;}
}
/* 컨탠츠 */
#contents section{
    width: 380px;
    padding: 10px;
}
#contents{
    display: flex;
}
.tab a{
    width: 190px;
    line-height: 30px;
    text-align: center;
    outline: 1px    #555    solid;
}
.tab{
    display: flex;
}
.tab a:hover{
    background: #ffa;
}
.notice a{
    padding: 0  10px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
}
.notice a:hover{
    background: #eee;
}
.gallery img{
    width: 100px;
}
.gallery{
    display: none;
    justify-content: space-evenly;
    padding-top: 25px;
}
.gallery a:hover{
    opacity: 0.6;
}
/* 배너 */
.title{
    line-height: 30px;
    text-align: center;
    outline: 1px #555 solid;
}
.banner img{
    width: 100px;
}
.banner{
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
}
.banner li:nth-child(2){
    width: 220px;
    line-height: 25px;
    padding-top: 25px;
}
.banner a:hover img{
    opacity: 0.6;
    transition: .6s;
}
.banner a:hover{
    text-decoration: underline;
}
/* 숏컷 */
.shortcut img{
    width: 100px;
}
.shortcut{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    text-align: center;
}
.shortcut a:hover{
    opacity: 0.6;
}
/* 푸터 */
footer{
    display: flex;
}
.f_logo{
    filter: grayscale(1);
}
.f_right{
    width: 1000px;
}
/* .f_menu{
    display: flex;
    justify-content: space-evenly;
    padding: 0  150px;
} */
.f_menu a{
    display: inline-block;
}
.f_menu{
    text-align: center;
    line-height: 40px;
}
.f_menu a:hover{
    text-decoration: underline;
}
.copy{
    text-align: center;
    color: #333;
}
/* 팝업 */
#popup{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.popup_body{
    width: 600px;
    height: 440px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}
.popup_body h3{
    line-height: 60px;
}
.popup_body p{
    padding: 0  20px;
    text-align: left;
}
.close{
    width: 120px;
    line-height: 40px;margin-top: 20px;
}