.pub_table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    line-height: 40px;
    border: 3px #777 solid;
    border-radius: 10px;
}